/* Resize logo in pkgdown navbar */
.navbar-brand img {
  max-height: 10px !important;
  height: auto !important;
  width: auto !important;
}

.logo {
  max-height: 10px; /* Or adjust as needed */
  width: auto;
}

.pkgdown-header img.logo {
  max-width: 40px !important;
  height: auto !important;
}


